@font-face {
  font-family: "a-theme-for-murder";
  src: url("a-theme-for-murder.regular.ttf");
}

.vile-title {
  animation: fadein 2s ease;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.separator {
  height: 1px;
  background: linear-gradient(to right, transparent, #666, transparent);
  margin: 1.5em 0;
  width: 100%;
}
