@font-face {
  font-family: "a-theme-for-murder";
  src: url("a-theme-for-murder.regular.ttf");
}

.vile-title {
  animation: fadein 2s ease;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
